/* You can add global styles to this file, and also import other style files */

body {font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hero-section h2{
    font-size: medium;
    color: #b1b1b1;
    text-align: center;
}
.nav ul{
    list-style: none;
    position: absolute;
    right: 0;
}

.nav ul li{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    border: 2px;
    /* width: 80%; */
    height: 90px;
    padding: 20px;
    
}

.nav ul li a{
    text-decoration: none;
}