/* You can add global styles to this file, and also import other style files */

html { 
    background: url(./assets/hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


nav{
    position: absolute;
    height: 70px;
    left: 920px;
    right: 240px;
    top: 0px;
    padding-top: 38px;

    font-family: 'Neue Power Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    border: 23px;
}

nav a:hover{
    color: rgb(0, 124, 128);
    
}

h1 a{
    font-family: 'Neue Power Trial';
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;    
    position: absolute;
    height: 70px;
    left: 19px;
    right: 983px;
    top: 0px;
    
}